/******************* General ************************/
@font-face {  
  font-family: "chalk";  
  src: url(../font/EraserRegular.eot);  
}  
@font-face {  
  font-family: "chalk";  
  src: url(../font/EraserRegular.ttf) format("truetype");  
}  
html{
    margin:0px;
    height:100%;
    overflow:hidden;
    background-image:url(../img/wood.png);
    padding:10px;
    font-family:"chalk", "arial", sans-serif;
}
body {
    margin:0px;
    height:100%;
    overflow:hidden;
    background-color:#01190F;
    padding:10px
}
#header {
    position:relative;
    margin-top:10px;
    margin-bottom:100px;
    font-size:0;
}
/******************* Home ************************/
.customRadio, .customCheckbox {
	background-color: #FFF;
}
.customRadio.selected, .customCheckbox.checked {
	background-color: #F00;
}
/******************* Instructions ************************/

/******************* Game ************************/
#header #rounds {
    position:absolute;
    top:0;
    left:50%;
    margin-left:-75px;
    width:140px;
    height:75px;
    text-align:center;
    font-size:36px;
    color:#6C71C4;
    vertical-align:middle;
}
#header #rounds #roundText{
    font-size:16px;
    margin-bottom:5px;
}
#team1 {
    width:200px;
    height:30px;
    font-size:36px;
    display:inline-block;
    position:absolute;
    left:20px;
    text-align:left;
    color: #268BD2;
    vertical-align:middle;
}
#team1 .name, #team2 .name{
    font-size:16px;
    margin-bottom:5px;
}
#team2 {
    width:200px;
    height:30px;
    font-size:36px;
    display:inline-block;
    position:absolute;
    right:20px;
    text-align:right;
    color:#DC322F;
    vertical-align:middle;
}
#question {
    margin-top:20px;
    padding:10px;
	height:200px;
    font-size:36px;
    color:#FFF;
    position:relative;
}
#question #questionSupplement{
    width:200px;
    height:200px;
    float:right;
    background-image:url(../img/graphback.png);
    padding:20px;
    position: absolute;
    top:0;
    right:0;
}
#questionText{
    margin-right:250px;
}
#supplementalImage{
	width: 200px;
	height:200px;
}
.glue {
    width:0px;
    height:0px;
    clear:both;
}
#buzz1 {
    position: absolute;
    left:10px;
    bottom:10px;
    padding:10px;
    text-align:center;
    font-size:20px;
}
#buzz2 {
    position: absolute;
    right:10px;
    bottom:10px;
    padding:10px;
    text-align:center;
    font-size:20px;
}
.buzzer {
    padding:60px 30px;
    border:2px dashed #FFF;
    display:inline-block;
    text-decoration:none;
    color:#FFF;
	font-weight:bold;
}
#buzz1 .buzzer{
    color: #268BD2;
    border-color: #268BD2;
}
#buzz2 .buzzer{
    color: #DC3024;
    border-color: #DC3024;
}
#buzz1 .buzzer.inverted{
    background-color: #268BD2;
    color: #01190F;
    border-color: transparent;
}
#buzz2 .buzzer.inverted{
    background-color: #DC3024;
    color: #01190F;
    border-color: transparent;
}
.keyForBuzzer {
    margin-top:5px;
    font-size:10px;
}
#middleWrapper {
    margin-top:10px;
    position:relative;
}
#answer, #winBox {
    position: absolute;
    top:0px;
    left:50%;
    padding:10px;
    margin-left:-200px;
}
#answerTextfield {
    margin-bottom:10px;
    padding:5px;
    width:400px;
    border:none;
    border-bottom:2px dotted #B58900;
    background-color:transparent;
    padding:5px;
    font-family:"chalk", "arial", sans-serif;
    color:#B58900;
    font-size:16px;
}
#winBox {
	display:none;
	text-align:center;
    color:#B58900;
}
#winner {
	width:400px;
	text-align:center;
}
#newGame {
	padding:10px;
	margin-top: 10px;
    background-color:#B58900;
    display:inline-block;
    text-decoration:none;
    color:#01190F;
	font-weight:bold;
}

/* Bottom */

#holder{
    background-image:url(../img/wood.png);
    height:10px;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
}